body {
  background-color: #E6ECF0;
}


.btn-container { /*container for the new tweets button*/
  display:flex;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 500px;
  justify-content: center;
  flex-wrap: wrap;
}

.new-tweets { /*new tweets reload button*/
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
  justify-content: center;
  font-family: Helvetica Neue;
}

.tweet-container { /*box that contains all of the individual tweets*/
  display: flex;
  width: 350px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #E6ECF0;
}

.tweet { /*singular tweet*/
  display: block;
  margin: 0;
  border: 1px solid black;
  justify-content: center;
  height: auto;
  width: 350px;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  font-family: Helvetica Neue;
  font-size: 15px;
  background-color: white;
}

.created {
  font-size: 10px;
  font-family: Helvetica Neue;
}

.handle{
  font-weight: bold;
}